@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
    --ff: 'Kumbh Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('images/bg-pattern-top.svg');
    background-size: contain;
    background-color: var(--Dark-cyan);
    font-family: var(--ff);
    padding: 40px;
}
h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
}
p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}
.card {
    width: 400px;
    height: 450px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
}
.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.flex-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-top {
    width: 100%;
}
.card-avatar {
    border-radius: 100px;
}
.card-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transform: translateY(-30%);
}
.card-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--Dark-gray);
    padding-top: 2rem;
}
.flex p {
    font-size: 1.5rem;
}
